@model List<Nova_Land.Models.Category>

@{
    ViewData["Title"] = "Home Page";
}
<head><script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script></head>
<div class="text-center">
    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
    {
        <div class="row">
            <div class="col-12">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input class="form-control" placeholder="Search" name="Search"/>
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <input class="form-control" placeholder="Province" name="Province"/>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input class="form-control" placeholder="City" name="City" />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary float-right">Search</button>
            </div>
        </div>
    }


    <div class="pt-5 row">
        <div class="col-6">
            <div class="card">
                <i class='fas fa-house-user' style='font-size:48px;padding-top:15px;'></i>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model[0].CategoryName)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
                    {
                        <input name="Category" type="hidden" value="@Html.DisplayFor(model => model[0].CategoryName)"/>
                        <button type="submit" class="btn btn-primary">Go</button>
                    }

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                
               <i class='fas fa-car-side' style='font-size:48px;padding-top:15px;'></i>
               <div class="card-body">
                   <h5 class="card-title">@Html.DisplayFor(model => model[1].CategoryName)</h5>
                   <p class="card-text">Car Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   @using (Html.BeginForm("Search", "Product", FormMethod.Post))
                   {
                       <input name="Category" type="hidden" value="@Html.DisplayFor(model => model[1].CategoryName)" />
                       <button type="submit" class="btn btn-primary">Go</button>
                   }
               </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" >
        <div class="col-6">
            <div class="card">
                <i class='fas fa-couch' style='font-size:48px;padding-top:15px;'></i>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model[2].CategoryName)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
                    {
                        <input name="Category" type="hidden" value="@Html.DisplayFor(model => model[2].CategoryName)" />
                        <button type="submit" class="btn btn-primary">Go</button>
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <i class='fas fa-truck' style='font-size:48px;padding-top:15px;'></i>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model[3].CategoryName)</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @using (Html.BeginForm("Search", "Product", FormMethod.Post))
                    {
                        <input name="Category" type="hidden" value="@Html.DisplayFor(model => model[3].CategoryName)" />
                        <button type="submit" class="btn btn-primary">Go</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
